@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 94%;
    --foreground: 34 15% 20%;
    --card: 60 56% 100%;
    --card-foreground: 34 15% 20%;
    --popover: 60 56% 100%;
    --popover-foreground: 34 15% 20%;
    --primary: 34 44% 70%;
    --primary-foreground: 34 15% 15%;
    --secondary: 60 25% 90%;
    --secondary-foreground: 34 15% 20%;
    --muted: 60 25% 90%;
    --muted-foreground: 34 15% 40%;
    --accent: 43 90% 38%;
    --accent-foreground: 60 56% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 34 30% 80%;
    --input: 34 30% 85%;
    --ring: 43 90% 38%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 34 15% 10%;
    --foreground: 60 56% 94%;
    --card: 34 15% 15%;
    --card-foreground: 60 56% 94%;
    --popover: 34 15% 10%;
    --popover-foreground: 60 56% 94%;
    --primary: 34 44% 70%;
    --primary-foreground: 34 15% 15%;
    --secondary: 34 15% 20%;
    --secondary-foreground: 60 56% 94%;
    --muted: 34 15% 20%;
    --muted-foreground: 60 56% 80%;
    --accent: 43 80% 45%;
    --accent-foreground: 34 15% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 34 15% 25%;
    --input: 34 15% 25%;
    --ring: 43 80% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
